
# directories (by name)

.classpath
#.project
#.settings/
/.idea/

/__pycache__

/_analyses/
/_build/

#/bin
#/doc
/dox
/node_modules
/target/

#/Cargo.lock


# directories (by pattern)


# files (by name)

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
#.ruby-version
.ruby-version-exclusions


# files (by pattern)

*~
*.*~
*.???_obj
*.a
*.app
*.bak
*.class
*.diff
*.dll
*.dylib
*.exe
*.gch
*.gem
*.idb
*.ilk
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.pyc
*.res
*.sbr
*.scc
*.sdf
*.so
*.suo
*.sw[ponm]
*.swp
*.test
*.tlog
*.tmp
*.unsuccessfulbuild
*.xcuserstate
*.zip

*.csproj*user
*.vcproj*user
*.vcxproj*user

npm-debug.log*
yarn-debug.log*
yarn-error.log*

